@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>
    function showSpinner() {
        var progress = document.getElementById('progress_indicator');
        progress.style.visibility = 'visible';
        var message = document.getElementById('message_info');
        message.style.visibility = "collapse";
    }
</script>

<form method="post">
    <div class="row">
        <div class="col-md-3">
            <h2>Ice Cream Flavors</h2>
            <div>
                <label>Flavor 1</label>
                <input type="text" asp-for="Recipe.IceCream1" />
            </div>
            <div>
                <label>Flavor 2</label>
                <input type="text" asp-for="Recipe.IceCream2" />
            </div>
            <div style="visibility: collapse;">
                <label>Flavor 3</label>
                <input type="text" asp-for="Recipe.IceCream3" />
            </div>
        </div>
        <div class="col-md-4">
            <h2>Known Flavor?</h2>
            <div id="message_info">
                @if (Model.Analysis != null)
                {
                    <label id="lblFlavorName">@Model.Analysis.RecipeName</label>

                    @if (Model.Analysis.IsValidRecipe)
                    {
                        <div>
                            Ingredients:
                            <ul>
                                @foreach (string ingredient in Model.Analysis.InputIngredients)
                                {
                                    <li>@ingredient</li>
                                }
                            </ul>
                        </div>
                    }
                }
            </div>
            <br />
            <progress id="progress_indicator" style="visibility: hidden;"></progress>
        </div>
    </div>
    <div class="row">

        <div class="col-md-3">
            <h2>Mix-Ins</h2>
            <div>
                <label>Mix-In 1</label>
                <input type="text" asp-for="Recipe.MixIn1" />
            </div>
        </div>
    </div>

    <input type="submit" value="Submit" style="margin-top:10px;" onclick="showSpinner()" />
</form>
